<h2>Connect</h2>
<h5>Enter your session id</h5>

<div class="content">
  <input [(ngModel)]="sessionId" minlength="8" type="text" />
  <button (click)="connect()" color="yellow" app-button>Connect</button>
  <a color="red" routerLink="/menu" [queryParams]="{ mode: 'multiplayer' }" app-button>Back</a>
</div>
