:host {
  display: flex;
  flex-direction: column;
  height: 100%;
}

input {
  margin-top: auto;
}

.content {
  display: flex;
  flex-direction: column;
  text-align: center;
  gap: 30px;
}

a,
button {
  text-transform: uppercase;
}

h2 {
  font-size: var(--fs-l);
  line-height: 1;
  text-align: center;
}

h5 {
  font-size: 1.2rem;
  margin-bottom: 3rem;
  margin-top: -0.2rem;
}
