:host {
  display: grid;
  height: 100dvh;
  place-items: center;
  position: relative;
  padding: 0 var(--spacing-xs);
}

.col,
.menu-wrapper {
  transition: transform 0.3s cubic-bezier(0.23, 1, 0.32, 1);
}

.menu-wrapper {
  transform: translateX(-100%);
}

.card {
  max-width: 480px;
  width: 100%;
  height: 550px;
  overflow: hidden;
  position: absolute;
  display: flex;
  flex-direction: row;
  padding: 0;

  @media screen and (max-width: 680px) {
    margin: 0 auto;
    width: calc(100% - 40px);
  }

  &.connection {
    .menu-wrapper {
      transform: none;
    }
  }
}

.menu-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  gap: 80px;

  height: 100%;
  width: 100%;
  min-width: 100%;

  padding: 70px 0 50px;

  @media screen and (max-width: 680px) {
    padding: 60px 0 30px;
  }
}

.actions {
  display: flex;
  justify-content: flex-end;

  max-width: 100%;
  overflow: hidden;

  &.multiplayer .col {
    transform: translateX(100%);
  }
}

.col {
  display: flex;
  flex-direction: column;
  gap: 30px;
  text-transform: uppercase;
  width: 100%;
  height: 100%;
  min-width: 100%;

  padding: 0 var(--spacing-2) var(--spacing-xs);

  @media screen and (max-width: 680px) {
    padding: 0 20px 10px;
  }

  .icon {
    position: absolute;
    right: 20px;
  }

  > * {
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-decoration: none;
    text-transform: uppercase;
    position: relative;
  }
}
