<ng-container *ngIf="menuMode$ | async as mode">
  <app-lobby [@fade]="{ params: { duration: 0.5 } }" *ngIf="mode === 'lobby'" />

  <app-card [class.connection]="mode === 'connect'" class="card" @fade *ngIf="mode !== 'lobby'">
    <div class="menu-wrapper">
      <div class="col">
        <app-connection-screen />
      </div>
    </div>

    <div class="menu-wrapper">
      <app-icon [size]="60" key="logo" />

      <div class="actions" [class.multiplayer]="mode !== 'default'">
        <div class="second-screen col">
          <a app-button color="yellow" routerLink [queryParams]="{ mode: 'lobby' }">Create game</a>
          <a app-button color="yellow" routerLink [queryParams]="{ mode: 'connect' }">Connect</a>

          <button app-button color="red" routerLink="/menu">Back</button>
        </div>

        <div class="first-screen col">
          <a app-button color="yellow" routerLink="/game/local">
            Hot seat
            <app-icon class="icon" key="player-vs-player" />
          </a>

          <a
            app-button
            color="yellow"
            [routerLink]="['/menu']"
            [queryParams]="{ mode: 'multiplayer' }"
          >
            Multiplayer
            <app-icon class="icon" [size]="52" key="multiplayer" />
          </a>

          <a app-button routerLink="/rules">Game rules</a>
        </div>
      </div>
    </div>
  </app-card>
</ng-container>
