<app-card class="dialog-card" color="primary">
  <h2 class="title">Pause</h2>
  <div class="buttons">
    <button app-button (click)="handleClose(messages.resume)">Continue game</button>

    <button app-button (click)="handleClose(messages.restart)">Restart</button>
    <a app-button routerLink="/menu" color="red" (click)="handleClose(messages.quit)">Quit</a>
  </div>
</app-card>
