:host {
  display: block;
  max-width: 480px;
  max-height: 490px;
  width: 100%;
  height: 100%;

  margin: 0 auto;

  text-transform: uppercase;
  text-align: center;
  color: var(--white);

  @media screen and (max-width: 680px) {
    width: 335px;
  }

  .dialog-card,
  .buttons {
    display: flex;
    flex-direction: column;
    width: 100%;
  }

  .dialog-card {
    gap: 42px;
  }

  .buttons {
    gap: 30px;
    align-items: stretch;

    * {
      text-transform: uppercase;
    }
  }

  .title {
    font-size: var(--fs-l);
    line-height: 1;
  }
}
