:host {
  text-transform: uppercase;
  font-weight: bold;
  width: max-content;
}

app-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-width: 285px;
  padding: var(--spacing-1);
}

.wins {
  font-size: var(--fs-l);
}
