<app-card color="white">
  <ng-container *ngIf="winner; else tie">
    <span class="winner-name">
      {{ winner }}
    </span>

    <h3 class="wins">Wins</h3>
  </ng-container>

  <button (click)="playAgain.emit()" chip-button>play again</button>
</app-card>

<ng-template #tie>
  <h3 class="wins">Tie</h3>
</ng-template>
