<div class="wrapper" *ngIf="vm$ | async as vm">
  <app-card color="white" class="player">
    <app-icon key="player-one" />

    <h3>Player 1</h3>
  </app-card>

  <app-card color="white" class="player">
    <ng-container *ngIf="vm.players[1] as secondPlayer; else waiting">
      <app-icon class="player-2" key="player-two" />
      <h3>{{ secondPlayer.name }}</h3>
    </ng-container>
  </app-card>

  <app-card class="lobby-card" color="white">
    <div class="header">
      <h1>Lobby</h1>
      <a chip-button routerLink="/menu" [queryParams]="{ mode: 'multiplayer' }">Back</a>
    </div>
    <ng-container *ngIf="vm.players.length < 2; else continue">
      <p>This is your sessionId, give it to your opponent</p>

      <app-card *ngIf="vm.sessionId" class="session-id-card">
        {{ vm.sessionId }}

        <button class="copy-btn" (click)="copy(vm.sessionId)">
          <ng-container>
            <app-icon [size]="32" *ngIf="copied" key="check" />
            <app-icon [size]="30" *ngIf="!copied" key="copy" />
          </ng-container>
        </button>
      </app-card>
    </ng-container>
  </app-card>
</div>

<ng-template #continue>
  <p>Lobby is full. You can start game.</p>
  <button (click)="start()" class="start-btn" app-button>Start Game</button>
</ng-template>

<ng-template #waiting>
  <app-icon key="cpu" />
  <h3>Waiting...</h3>
</ng-template>
