:host {
  display: grid;
  place-items: center;
  height: 100%;

  padding: 0 var(--spacing-xs);
  color: var(--white);
}

.wrapper {
  max-width: 450px;
  width: 100%;

  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: min-content 1fr;
  place-items: stretch;

  grid-row-gap: 20px;
}

.lobby-card {
  display: flex;
  flex-direction: column;
  width: 100%;
  min-height: 240px;
  padding: var(--spacing-1) var(--spacing-1);

  grid-column: span 2;
}

.session-id-card {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;

  font-size: var(--fs-m);
  font-weight: bold;
  height: 70px;
  padding: var(--spacing-xs);

  position: relative;

  &:hover .copy-btn {
    opacity: 1;
  }
}

.start-btn,
.session-id-card {
  margin-top: auto;
}

.player {
  min-width: 135px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;

  &:nth-child(2) {
    justify-self: end;
  }

  app-icon {
    position: absolute;
    bottom: calc(100% - 30px);
  }
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;

  a {
    line-height: 1;
    font-size: 0.8rem;
  }
}

.copy-btn {
  display: inline;
  position: absolute;
  width: 32px;
  height: 32px;
  right: 12px;
  top: 50%;
  transform: translateY(-50%);
  background: transparent;
  border: none;
  cursor: pointer;
  opacity: 0;

  transition: opacity 0.2s ease-in-out;
}

.player-2 {
  animation: appear 0.5s ease-in-out forwards;
}

@keyframes appear {
  from {
    transform: scale(1);
  }

  50% {
    transform: scale(1.2);
  }

  to {
    transform: scale(1);
  }
}
