:host {
  --bg-color: var(--white);
  --text-color: var(--black);

  font-family: inherit;
  font-size: var(--fs-s);
  padding: var(--spacing-1);

  border-radius: var(--round);
  background: var(--bg-color);
  border: var(--border-width) solid var(--border-color);
  box-shadow: 0 var(--shadow-width) 0 var(--border-color);
  color: var(--text-color);
  font-weight: 700;
  cursor: pointer;
  outline-offset: 4px;
  text-decoration: none;

  min-width: 400px;
  width: 100%;

  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out,
    transform 0.15s ease-in-out;

  @media screen and (max-width: 680px) {
    min-width: unset;
  }

  &:hover {
    --border-color: var(--dark-purple);
  }

  &:active {
    transform: translateY(9px);
    --shadow-width: 1px;

    transition: border-color 0.25s ease-in-out, box-shadow 0.25s ease-in-out,
      transform 0.25s ease-in-out;
  }

  &.app-button-red {
    --bg-color: var(--red);
    --text-color: var(--white);
  }

  &.app-button-yellow {
    --bg-color: var(--yellow);
  }
}
