:host {
  --shadow-width: 4px;

  width: 64px;
  height: 64px;

  display: inline-grid;
  place-items: center;

  aspect-ratio: 1 / 1;
  background-color: var(--red);
  border: var(--border-width) solid var(--border-color);
  box-shadow: 0 var(--shadow-width) 0 var(--border-color);
  border-radius: 64px;
  cursor: pointer;

  transition: border-color 0.2s ease-in-out, box-shadow 0.2s ease-in-out, transform 0.2s ease-in-out;

  &:hover {
    --border-color: var(--dark-purple);
  }

  &:active {
    --shadow-width: 0;
    transform: translateY(4px);
  }
}
