<div class="marker-wrapper">
  <app-marker *ngFor="let marker of markers; let idx = index" [markerId]="idx" />
</div>

<div class="dark-layer"></div>

<div class="figures">
  <ng-container *ngFor="let figure of figures; trackBy: trackFigure">
    <app-figure animateFigure [figure]="figure" [sequence]="sequence"></app-figure>
  </ng-container>
</div>

<div class="white-layer"></div>
