:host {
  --figure-size: 66px;

  display: flex;
  flex-direction: column;

  position: relative;
  isolation: isolate;


  // Preloads figure imgs right away, before player places one
  &:before {
    z-index: -1;
    position: absolute;
    width: 0;
    height: 0;
    overflow: hidden;
    content: url("/assets/images/counter-red-large.svg")
      url("/assets/images/counter-yellow-large.svg");
  }

  @media screen and (max-width: 680px) {
    --figure-size: 39px;

    .dark-layer {
      background-image: url("/assets/images/board-layer-black-small.svg");
      cursor: initial;
    }

    .white-layer {
      background-image: url("/assets/images/board-layer-white-small.svg");
      width: 335px;
      height: 310px;
      cursor: initial;
    }

    .figures,
    .dark-layer {
      width: 335px;
      height: 320px;
    }

    .figures {
      padding: 8px 8px 32px;
      gap: 8px;
    }
  }
}

.dark-layer,
.white-layer {
  position: absolute;
  inset: 0;

  background-repeat: no-repeat;
  cursor: pointer;
}

.dark-layer {
  height: 594px;
  width: 634px;
  background-image: url("/assets/images/board-layer-black-large.svg");
  z-index: 0;
}

.white-layer {
  background-image: url("/assets/images/board-layer-white-large.svg");
  height: 584px;
  width: 632px;
  left: 1px;
  z-index: 2;
}

.figures {
  display: grid;
  height: 100%;
  width: 100%;

  padding: 18px 18px 68px;

  grid-template-columns: repeat(7, var(--figure-size));
  grid-template-rows: repeat(6, var(--figure-size));
  gap: 22px;
  z-index: 1;
}

.marker-wrapper {
  width: var(--figure-size);
  display: flex;
  justify-content: center;
  position: absolute;
  pointer-events: none;
  bottom: calc(100% + 1px);
  left: 20px;
}
