:host {
  display: inline-block;
  width: max-content;
  min-width: 90px;
  border-radius: 90px;
  padding: var(--spacing-xs) var(--spacing-1);
  background: var(--dark-purple);

  line-height: 20px;
  color: var(--white);
  text-transform: uppercase;
  font-weight: 700;
  font-family: var(--main-ff);
  cursor: pointer;
  border: none;
  text-align: center;

  transition: background-color 0.2s ease-in-out;

  &:hover {
    background: var(--red);
  }
}
