@import "~@angular/cdk/overlay-prebuilt.css";

html {
  --black: rgb(0, 0, 0);
  --dark-purple: rgb(92, 45, 213);
  --purple: rgb(121, 69, 255);
  --red: rgb(253, 102, 135);
  --white: rgb(255, 255, 255);
  --yellow: rgb(255, 206, 103);

  --text-color: var(--black);
  --primary: var(--purple);

  --round: 20px;
  --main-ff: "Space Grotesk", sans-serif;

  --fs-body: 1rem;

  --fs-xs: 1rem;
  --fs-s: 1.25rem;
  --fs-m: 1.5rem;
  --fs-l: 3.5rem;

  --spacing-xs: 10px;
  --spacing-1: 20px;
  --spacing-2: 40px;

  --border-width: 3px;
  --border-color: var(--black);
  --shadow-width: 10px;

  --control-border: var(--border-width) solid var(--border-color);
  --control-shadow: 0px var(--shadow-width) 0px var(--border-color);
}

html {
  font-family: var(--main-ff);
  font-size: var(--fs-body);
}

*,
*:before,
*:after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;

  outline-offset: 4px;
  outline-width: 4px;
  outline-color: var(--white);
}

@font-face {
  font-family: "Space Grotesk";
  font-weight: 300 700;
  font-stretch: 20% 100%;
  src: url("/assets/fonts/SpaceGrotesk-VariableFont_wght.ttf");
}

.stack {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.overlay {
  background: rgba(0 0 0 / 0.5);
  transition: opacity 0.2s ease-in-out;
}

.cdk-global-overlay-wrapper {
  @media screen and (max-width: 680px) {
    align-items: flex-end !important;
    padding-bottom: var(--spacing-2);
  }
}

input {
  padding: var(--spacing-xs) var(--spacing-1);
  border: var(--control-border);
  border-radius: 12px;
  border-width: 5px;
  font-size: 2rem;
  font-weight: bold;
  width: 100%;

  &:hover {
    --border-color: var(--dark-purple);
  }
}
