<app-card color="white">
  <h1 class="title">Rules</h1>

  <div class="block">
    <h3 class="sub-title">Objective</h3>
    <p>
      Be the first player to connect 4 of the same colored discs in a row (either vertically,
      horizontally, or diagonally).
    </p>
  </div>

  <div class="block">
    <h3 class="sub-title">How to play</h3>

    <ol>
      <li>Red goes first in the first game.</li>
      <li>Players must alternate turns, and only one disc can be dropped in each turn.</li>
      <li>The game ends when there is a 4-in-a-row or a stalemate.</li>
      <li>The starter of the previous game goes second on the next game.</li>
    </ol>
  </div>

  <span class="confirm">
    <a routerLink="/menu" icon-button><app-icon key="check" /></a>
  </span>
</app-card>
