:host {
  display: grid;
  place-items: center;
  height: 100%;
  padding: 0 var(--spacing-1);
  overflow: auto;
}

.title {
  text-align: center;
  font-size: var(--fs-l);
}

.sub-title {
  color: var(--dark-purple);
  font-size: var(--fs-m);
  padding-bottom: 16px;
}

app-card {
  width: 480px;
  padding: 30px 34px 50px;
  display: flex;
  gap: 30px;
  position: relative;
  flex-direction: column;
  align-items: center;

  @media screen and (max-width: 680px) {
    width: 100%;
    padding: 30px var(--spacing-1) var(--spacing-2);
  }
}

ol {
  padding: 0;
  margin: 0;
  padding-left: 16px;

  display: flex;
  flex-direction: column;
  gap: 10px;
}

.confirm {
  position: absolute;
  top: 100%;
  transform: translateY(-50%);
}
