:host {
  --background-color: var(--purple);
  display: block;
  background-color: var(--background-color);
  border: var(--control-border);
  box-shadow: var(--control-shadow);
  border-radius: var(--round);
  color: var(--white);
  padding: var(--spacing-2) var(--spacing-1) var(--spacing-1);

  width: max-content;

  &.white {
    --background-color: var(--white);
    color: var(--text-color);
  }

  &.block {
    width: 100%;
  }
}
