<app-card class="player-card" color="white">
  <app-icon [key]="playerIcon" />
  <span class="name">{{ name }}</span>

  <span class="score">
    <ng-container *ngFor="let num of scoreArray">
      <span class="number" [@valueAnimation]="num" *ngIf="score === num">
        {{ num }}
      </span>
    </ng-container>
  </span>
</app-card>
