:host {
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: relative;

  @media screen and (max-width: 1140px) {
    .player-card {
      flex-direction: row;
      align-items: center;
      justify-content: space-between;
      position: relative;

      width: 272px;
      min-height: 82px;
      height: 100%;

      padding: var(--spacing-xs) var(--spacing-2);
    }

    &.player-2 {
      .player-card {
        flex-direction: row-reverse;
      }

      app-icon {
        right: 0;
        left: unset;
        top: 50%;
        transform: translateX(50%) translateY(-50%);
      }
    }

    .score {
      flex: unset;
    }

    app-icon {
      left: 0;
      top: 50%;
      transform: translateX(-50%) translateY(-50%);
    }
  }

  @media screen and (max-width: 680px) {
    .player-card {
      width: min(100%, 170px);
      height: 82px;

      flex-direction: column !important;
    }

    .name {
      font-size: var(--fs-body);
    }

    .score {
      font-size: 32px;
      flex: 1;
    }
  }
}

.player-card {
  text-align: center;
  font-weight: bold;

  width: 140px;
  height: 160px;

  display: flex;
  gap: var(--spacing-xs);
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
}

.name {
  font-size: var(--fs-m);
}

.score {
  display: grid;
  place-items: center;

  font-size: var(--fs-l);
  position: relative;
  flex: 1;

  .number {
    position: absolute;
  }
}

app-icon {
  position: absolute;
  top: 0;
  transform: translateY(-50%);
  width: 68px;
}
