:host {
  display: block;
  height: 36px;
  width: 36px;
  perspective: 1000px;

  position: absolute;
  bottom: 100%;

  transform: translateX(var(--offset));
  transition: transform 0.6s cubic-bezier(0.28, 0.84, 0.42, 1);

  &.red .inner {
    transform: rotateY(180deg);
  }

  @media screen and (max-width: 1140px) {
    display: none;
  }
}

.inner {
  position: relative;
  height: 100%;
  width: 100%;
  transition: transform 1.2s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  transform-style: preserve-3d;
}

.front,
.back {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;

  filter: drop-shadow(3px 6px 3px rgba(0 0 0 / 0.25));
}

.back {
  transform: rotateY(180deg);
}
