:host {
  display: block;
  height: 165px;
  width: 197px;
}

.container {
  --red-turn: url("/assets/images/turn-background-red.svg");
  --yellow-turn: url("/assets/images/turn-background-yellow.svg");

  display: flex;
  flex-direction: column;
  padding: 50px var(--spacing-xs) var(--spacing-1);

  text-align: center;
  text-transform: uppercase;
  font-weight: bold;

  background-repeat: no-repeat;
  background-size: contain;
  background-image: var(--url);

  color: var(--color);
  height: 100%;
  width: 100%;

  transition: color 0.2s ease-in-out, background-image 0.2s ease-in-out;

  &:before {
    z-index: -1;
    position: absolute;
    width: 0;
    height: 0;
    overflow: hidden;
    content: var(--red-turn) var(--yellow-turn);
  }

  &.color-red {
    --color: var(--white);
    --url: var(--red-turn);
  }

  &.color-yellow {
    --color: var(--black);
    --url: var(--yellow-turn);
  }
}

.timer-container {
  .seconds {
    font-size: var(--fs-m);
    margin-left: 2px;
  }

  .timer {
    font-size: var(--fs-l);
  }
}
