<div [class]="image$ | async" class="container">
  <ng-container *ngIf="player$ | async as player">
    <span class="turn">{{ player.name }}`s turn</span>
  </ng-container>

  <div *ngIf="timer$ | async as time" class="timer-container">
    <span class="timer">{{ time }}</span>
    <span class="seconds">S</span>
  </div>
</div>
