:host {
  height: 75px;
  width: 70px;
  display: grid;
  place-items: center;

  background-size: cover;
  background-repeat: no-repeat;

  &.color-red {
    background-image: url("/assets/images/counter-red-large.svg");
  }

  &.color-yellow {
    background-image: url("/assets/images/counter-yellow-large.svg");
  }

  &.won:before {
    content: "";
    position: absolute;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    border: 5px solid var(--white);

    animation: appear 0.3s ease-in-out forwards;
  }

  @media screen and (max-width: 680px) {
    width: 40px;
    height: 45px;

    &.color-red {
      background-image: url("/assets/images/counter-red-small.svg");
    }

    &.color-yellow {
      background-image: url("/assets/images/counter-yellow-small.svg");
    }

    &.won:before {
      height: 5px;
      width: 5px;
      border-width: 7px;
      margin-bottom: 2px;
    }
  }

  @keyframes appear {
    from {
      transform: scale(0.6);
      opacity: 0;
    }

    to {
      transform: none;
      opacity: 1;
    }
  }
}
