:host {
  display: grid;
  max-width: 1048px;
  margin: 0 auto;
  height: 100%;
  isolation: isolate;
  user-select: none;

  app-player {
    position: absolute;
    transform: translateY(-50%);
    top: 50%;

    &:nth-of-type(1) {
      right: calc(100% + 60px);
    }

    &:nth-of-type(2) {
      left: calc(100% + 60px);
    }

    @media screen and (max-width: 1140px) {
      transform: translateY(-25%);
      bottom: 100%;
      top: unset;

      &:nth-of-type(1) {
        left: 20px;
        right: unset;
      }

      &:nth-of-type(2) {
        right: 20px;
        left: unset;
      }
    }

    @media screen and (max-width: 680px) {
      transform: translateY(clamp(-20px, 10%, -50px));

      &:nth-of-type(1) {
        left: 0;
      }

      &:nth-of-type(2) {
        right: 0;
      }
    }
  }
}

.winner-indicator {
  width: 100%;
  border-radius: 60px 60px 0 0;
  background: var(--dark-purple);
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: -1;

  height: clamp(175px, 20%, 235px);
  transition: background-color 0.4s ease-in-out;

  &.red {
    background-color: var(--red);
  }

  &.yellow {
    background-color: var(--yellow);
  }
}

.board-wrapper {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;

  margin: 0 auto;
  align-self: end;
  padding: 50px 20px 170px;
  @media screen and (max-width: 1140px) {
    padding-top: var(--spacing-2);
  }

  @media screen and (max-width: 680px) {
    padding-bottom: clamp(170px, 30%, 230px);
  }
}

.board-container {
  position: relative;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  align-self: start;
  width: 100%;
}

app-win-alert,
app-turn-indicator {
  position: absolute;
  margin: 0 auto;
  top: calc(100% - 34px);
  left: 0;
  right: 0;
}

app-win-alert {
  btop: calc(100% - 34px);
}
