<ng-container *ngIf="vm$ | async as vm">
  <div class="board-wrapper">
    <div class="header">
      <button chip-button openPauseMenu (restarted)="restart()">Menu</button>

      <img [src]="'logo' | svgIcon" alt="Logo" />

      <button chip-button (click)="restart()">Restart</button>
    </div>

    <div class="board-container">
      <ng-container *ngFor="let player of vm.players; let idx = index; trackBy: trackPlayer">
        <app-player [name]="player.name" [score]="player.score" [num]="idx + 1" />
      </ng-container>

      <app-board
        appTrackColumn
        [sequence]="vm.seq"
        [figures]="vm.figures"
        [player]="vm.currentPlayer"
        (figurePlaced)="onClick($event)"
        (colHovered)="onHover($event)"
      />

      <app-turn-indicator @fade *ngIf="!vm.ended" (timerRunOut)="onTimeRunOut()" />

      <ng-container *ngIf="vm.ended">
        <app-win-alert @fade (playAgain)="playAgain()" [winner]="vm.winner?.name" />
      </ng-container>
    </div>
  </div>

  <div class="winner-indicator" [class]="vm.winner?.color"></div>
</ng-container>
